.pizzas-list__container {
  display: flex;

  .pizzas-list__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 3em;

    padding: 50px;
    width: 100%;
  }
}
