.pizzas-list__container {
  display: flex;
  width: 100%;

  .pizzas-list__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}
