.cart-list__container {
  width: 100%;
  height: 100vh;
  padding: 50px;
  margin-bottom: 50px;
}

.cart-list__product-name {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
}

.cart-list__product-count {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
}

.cart-list__final-price-container {
  width: 100%;
  padding: 50px 30px;
}
